@{
    ViewBag.Title = "Home Page";
}
<a style="display:block" href="@Url.Action("Index", "Home")">
    <div class="jumbotron">
        <h1 style="text-align:center; font-family:'Times New Roman', Times, serif">Wypożyczalnia jachtów</h1>
    </div>
    </a>
    <div class="row" style="background-image: url('/Content/jacht.jpg')">
        <div class="col-md-4">
            <h2>O jachtach</h2>
            <p style="font-weight:bold">
                Jacht – jednostka pływająca o napędzie żaglowym lub motorowym, w zależności od
                konstrukcji i wyposażenia przeznaczona najczęściej do celów rekreacyjnych lub turystycznych.
                Jachty budowane i wykorzystywane są także do uprawiania sportu, do celów szkoleniowych, reprezentacyjnych lub wychowania morskiego
            </p>
            <p><a class="btn btn-default" href="https://pl.wikipedia.org/wiki/Jacht">Więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>O miejscach</h2>
            <p style="font-weight:bold">Polska to cudowny, zróżnicowany pod względem krajobrazów kraj. Jesteśmy wspaniałym rajem tak dla zdobywców gór, jak i spragnionych przygód miłośników sportów wodnych. Jachting w Polsce staje się coraz bardziej popularny. Rośnie liczba prywatnych jachtów, jak i wypożyczalni tego sprzętu na wynajem. Gdzie w takim razie znajdują się najciekawsze w Polsce miejsca do żeglugi?</p>
            <p><a class="btn btn-default" href="https://myslipotarganej.pl/najciekawsze-miejsca-w-polsce-do-zeglugi-jachtem/#:~:text=Niewiele%20rzek%20daje%20mo%C5%BCliwo%C5%9B%C4%87%20przep%C5%82yni%C4%99cia,te%C5%BC%20Odr%C4%99%2C%20Wart%C4%99%20czy%20Note%C4%87.">Więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Kontakt</h2>
            <p style="font-weight:bold">Krystian Kruszewki</p>
            <p style="font-weight:bold">Tel: 555444333</p>
            <p style="font-weight:bold">E-mail:KrystianK@gmail.com</p>
        </div>
    </div>
